.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 85px;
    background-color: rgb(195, 222, 255);
    gap: 10px;
}
.box1{
    flex: 1;
    width: 150px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 65px;
    background-color: rgb(233, 255, 195);
    gap: 5px;
}
.box2{
    flex: 1;
    width: 150px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 65px;
    background-color: rgb(222, 195, 255);
    gap: 5px;
}
.box3{
    width: 50px;
    height: 30px;
    background-color: rgb(240, 255, 245);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container4{
    display: flex;
    align-items: center;
    height: 85px;
    background-color: rgb(195, 222, 255);
    gap: 10px;
    margin: 15px;
    padding: 5px;
}
.box4{
    width: 50px;
    height: 50px;
    background-color: rgb(240, 255, 245);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4:nth-child(2){
    flex-grow: 1;
    background-color: rgb(138, 138, 240);
}
.container5{
    display: flex;
    align-items: center;
    height: 85px;
    background-color: rgb(195, 222, 255);
    gap: 10px;
    margin: 15px;
    padding: 5px;
}
.box5{
    width: 50px;
    height: 50px;
    background-color: rgb(240, 255, 245);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5:nth-child(even){
    background-color: aquamarine;
}
.box5:nth-child(odd){
    flex-grow: 1;
}