.footer{
    padding: 55px 0 65px 0;
    text-align: center;
}
.contacts{
    font-size: 34px;
    font-weight: 700;
    color: var(--main-color-black);
    margin: 0 0 75px 0;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 42px;
    background-color: var(--font-color-main);
    color: var(--bg-main);
    border: 1px solid var(--main-color-black);
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}
.ii{
    max-width: 350px;
    height: 65px;
    object-fit: cover;
    margin: 38px 0 34px 0;
}
.footer-description{
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    max-width: 260px;
}